luaclib/target
*.so
*.dll
*.dylib
*.exe
*.o
*.a
*.obj

*.log
skynet.pid

.DS_Store
.vscode/

config/mongo-*.lua
!config/mongo-game-sample.lua

config/redis-*.lua
!config/redis-game-sample.lua

config/sqlx-*.lua
!config/sqlx-game-sample.lua